body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#canvas {
  display: flex;
  justify-content: center;
}
#brand {
  height: 30px;
}
.container > #nav {
  margin-bottom: 20px;
  background-color: darkblue;
  color: white;
  font-weight: 700;
}
canvas {
  border: 1px solid black;
}

#hidden {
  display: none;
}
#charImg {
  display: hidden;
}

/* initial Screen and start button */
.initial {
  height: 400px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url(../images/backgroundgame.jpg);
  background-size: cover;
  flex-direction: column;
  box-shadow: 0px 12px 13px 0px rgba(0, 0, 0, 0.75);
}
.btn {
  margin: 20px auto;
  width: 120px;
  height: 40px;
  border-radius: 22px 22px 22px 22px;
  border: 4px solid #000000;
  box-shadow: 1px 12px 11px 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  font-weight: 700;
  background-color: blue;
}
/* reset button */
#reset {
  background-color: blue;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 1px 12px 11px 1px rgba(0, 0, 0, 0.75);
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 900;
}
#box {
  display: flex;
  flex-direction: column;
}
#title {
  background-image: url(../images/Arcade-Quest.png);
  background-size: cover;
  width: 94%;
  height: 25%;
  padding-bottom: 130px;
  margin: 0px auto;
}
.game-over {
  width: 58%;
  height: 23%;
  background-size: cover;
  margin: 40px auto;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  outline: 0;
}
#mine {
  height: 50%;
  margin: auto;
  width: 50%;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  -webkit-border-radius: 64px 64px 64px 64px;
  border: 10px solid #676ca6;
}
.modal-content {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}

/* other modal */
.controls {
  display: none;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.card-group p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: blue;
  text-align: center;
  font-size: 1.2em;
}

.controls #card-one .card-img-top,
.controls #card-two .card-img-top,
.controls #card-three .card-img-top {
  width: 60%;
}
